<!doctype html>
<html>
    <head>
    <title>Fleddit - Fun for all ages!</title>
    </head>
    <body>
        <div class='container'>
            <h2><a href='/pages'>Fleddit</a></h2>
            <% if !logged_in? %>
                <h4>Welcome to the smallest community on the internet.</h4><br>
            <% else %>
                <a href="/users/pages">Your Pages</a>
                <a href="/users/<%= current_user.id %>">Your Posts</a>
                <a href='/pages/new'>Create a Page</a>
            <% end %>
            <%= yield %>
        </div><br><br>
        <% if logged_in? %>
            <form action='/logout' method='get'>
                <input type='submit' value='Log Out'>
            </form>
        <% end %>
    </body>
</html>